.formation-451 {
  &:before {
    content: '4-5-1';
  }
  .midfielder {
    left: 616px;
  }

  .goalkeeper-1 {
    top: 99px;
    left: -130px;
  }
  .defender-1 {
    top: 34px;
    left: -103px;
    z-index: 1;
  }
  .defender-2 {
    top: 168px;
    left: -158px;
  }
  .defender-3 {
    top: -67px;
    left: -2px;
  }
  .defender-4 {
    top: 269px;
    left: -141px;
  }
  .midfielder-1 {
    top: 34px;
    left: -103px;
  }
  .midfielder-2 {
    top: 168px;
    left: -158px;
  }
  .midfielder-3 {
    top: -32px;
    left: 149px;
  }
  .midfielder-4 {
    top: 99px;
    left: 95px;
  }
  .midfielder-5 {
    top: 234px;
    left: 39px;
  }
  .forward-1 {
    top: 99px;
    left: -130px;
  }
  .defender-5, .forward-2, .forward-3 {
    display: none;
  }
}

.bench-451 {
  .defender-5 {
    @include firstDefenderOnBench;
  }
  .midfielder-6 {
    @include firstMidfielderOnBench;
  }
  .forward-2 {
    @include firstForwardOnBench;
  }
}