.formation-352 {
  .goalkeeper-2,
  .goalkeeper-3,
  .defender-4,
  .defender-5,
  .defender-6,
  .midfielder-6,
  .midfielder-7,
  .midfielder-8,
  .forward-3,
  .forward-4,
  .forward-5 {
    display: none;
  }
}

.bench-352 {
  .goalkeeper-1,
  .defender-1,
  .defender-2,
  .defender-3,
  .midfielder-1,
  .midfielder-2,
  .midfielder-3,
  .midfielder-4,
  .midfielder-5,
  .forward-1,
  .forward-2 {
    display: none;
  }
}

.formation-442 {
  .goalkeeper-2,
  .goalkeeper-3,
  .defender-5,
  .defender-6,
  .midfielder-5,
  .midfielder-6,
  .midfielder-7,
  .midfielder-8,
  .forward-3,
  .forward-4,
  .forward-5 {
    display: none;
  }
}

.bench-442 {
  .goalkeeper-1,
  .defender-1,
  .defender-2,
  .defender-3,
  .defender-4,
  .midfielder-1,
  .midfielder-2,
  .midfielder-3,
  .midfielder-4,
  .forward-1,
  .forward-2 {
    display: none;
  }
}

.formation-433 {
  .goalkeeper-2,
  .goalkeeper-3,
  .defender-5,
  .defender-6,
  .midfielder-4,
  .midfielder-5,
  .midfielder-6,
  .midfielder-7,
  .midfielder-8,
  .forward-4,
  .forward-5 {
    display: none;
  }
}

.bench-433 {
  .goalkeeper-1,
  .defender-1,
  .defender-2,
  .defender-3,
  .defender-4,
  .midfielder-1,
  .midfielder-2,
  .midfielder-3,
  .forward-1,
  .forward-2,
  .forward-3 {
    display: none;
  }
}

.formation-343 {
  .goalkeeper-2,
  .goalkeeper-3,
  .defender-4,
  .defender-5,
  .defender-6,
  .midfielder-5,
  .midfielder-6,
  .midfielder-7,
  .midfielder-8,
  .forward-4,
  .forward-5 {
    display: none;
  }
}

.bench-343 {
  .goalkeeper-1,
  .defender-1,
  .defender-2,
  .defender-3,
  .midfielder-1,
  .midfielder-2,
  .midfielder-3,
  .midfielder-4,
  .forward-1,
  .forward-2,
  .forward-3 {
    display: none;
  }
}

.formation-451 {
  .goalkeeper-2,
  .goalkeeper-3,
  .defender-5,
  .defender-6,
  .midfielder-6,
  .midfielder-7,
  .midfielder-8,
  .forward-2,
  .forward-3,
  .forward-4,
  .forward-5 {
    display: none;
  }
}

.bench-451 {
  .goalkeeper-1,
  .defender-1,
  .defender-2,
  .defender-3,
  .defender-4,
  .midfielder-1,
  .midfielder-2,
  .midfielder-3,
  .midfielder-4,
  .midfielder-5,
  .forward-1 {
    display: none;
  }
}

.formation-532 {
  .goalkeeper-2,
  .goalkeeper-3,
  .defender-6,
  .midfielder-4,
  .midfielder-5,
  .midfielder-6,
  .midfielder-7,
  .midfielder-8,
  .forward-3,
  .forward-4,
  .forward-5 {
    display: none;
  }
}

.bench-532 {
  .goalkeeper-1,
  .defender-1,
  .defender-2,
  .defender-3,
  .defender-4,
  .defender-5,
  .midfielder-1,
  .midfielder-2,
  .midfielder-3,
  .forward-1,
  .forward-2 {
    display: none;
  }
}

.formation-541 {
  .goalkeeper-2,
  .goalkeeper-3,
  .defender-6,
  .midfielder-5,
  .midfielder-6,
  .midfielder-7,
  .midfielder-8,
  .forward-2,
  .forward-3,
  .forward-4,
  .forward-5 {
    display: none;
  }
}

.bench-541 {
  .goalkeeper-1,
  .defender-1,
  .defender-2,
  .defender-3,
  .defender-4,
  .defender-5,
  .midfielder-1,
  .midfielder-2,
  .midfielder-3,
  .midfielder-4,
  .forward-1 {
    display: none;
  }
}
