.no-team-found {
    top: 20%;
    left: 10%;
    background-color: var(--error-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    z-index: 999;
    @media screen and (min-width: $media-tablet) {
        position: absolute;
        width: 80%;
    }
    * {
        color: var(--primary-font-color);
    }
    h3 {
        margin-bottom: 1rem;
    }
}