@font-face {
  font-family: 'Teko';
  src: url('../Fonts/teko/teko.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko300';
  src: url('../Fonts/teko/teko300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
